*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono',monospace;
}

.main{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background:#000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main .image-container{
    padding: 10px;
}
.main .image-container .image{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.main .image-container .image img{
    width: 350px;
    align-items: center;
}

.main .image-container h1{
    color: #00bcd4;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}
.main .image-container p{
    color: #304042;
    text-align: center;
    margin-bottom: 40px;
    
}

.main .talk{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgb(202 253 255 / 50%);
  }
  
   .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
  }
  
  .main .input .talk i {
    font-size: 20px;
    color: #aed0d0;
  }
  
  .main .content {
    color: #aed0d0;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 1000px;
}


